.cen{
	text-emphasis: bold;
	text-align: center;
}
.blac
{
	color: rgb(0, 0, 0);
}
body
{
	background-image: url("/static/img.jpg");
	padding-bottom: 50px;
	font-family: 'Times New Roman', Times, serif;
	background-size: cover;
}
#bac1
{
	margin-top:100px;
	padding: 25px;
	background: rgba(96, 236, 83, 0.863);
	border-radius: 5px;
	height: 0 auto;
}
.text1
{
	margin-left: 20px;
	font-weight: bold;
}
.button1
{
	border-radius: 60px;
	color:rgb(59, 59, 59);
	padding: 7px;
	margin-top: 15px;
	background: #fff023;
	border:none;
}